@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

@import "layout/grid";
@import "layout/header";
@import "layout/footer";

@import "views/index";
@import "views/nosotros";
@import "views/proyectos";
@import "views/contacto";

@import "utilities/colors";
@import "utilities/mixins";


body {
    background: map-get($colors, bg);
}
a {
    text-decoration: none;
    color: #fff;
}

.card {
    border-radius: 10px;
    padding: 15px;
}
.container{
    padding: 0;
}
h2 {
    margin: 0;
    font-size: 26px;
    padding: 10px 0;
    color: map-get($colors, detalles);
}

h3 {
    font-size: 20px;
}

h4 {
    color: map-get($colors, color);
    font-size: 20px;
    margin: 0;
}

h5 {
    font-size: 18px;
}


p {
    margin-bottom: 0;
}

.service-list{
    list-style-type: none;

}
.logo{
    background-color: map-get($colors, card);
}