@media (min-width: 300px) and (max-width:991px){
    #grid{
        display: grid;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer" 
        ;
        grid-template-rows: auto;
        grid-template-columns: auto;
    }
}

@media (min-width: 992px){
    #grid{
        display: grid;
        grid-template-areas: 
            "header nav"
            "main main"
            "footer footer" 
        ;
        grid-template-rows: 50px auto 100px;
        grid-template-columns: 50% 50%;
    }
}
