@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif; }

@media (min-width: 300px) and (max-width: 991px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-rows: auto;
    grid-template-columns: auto; } }

@media (min-width: 992px) {
  #grid {
    display: grid;
    grid-template-areas: "header nav" "main main" "footer footer";
    grid-template-rows: auto;
    grid-template-columns: 50% 50%; } }

@media (max-width: 991px) {
  header {
    background-color: #3F3434;
    grid-area: header; }
    header .title {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      font-size: 22px; }
      header .title a {
        padding: 5px 0; }
        header .title a :hover {
          color: #FC6625; }
  nav {
    grid-area: nav;
    background-color: #3F3434; }
    nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
      margin: 0; }
      nav ul li {
        list-style-type: none;
        padding: 5px 10px; }
        nav ul li :hover {
          color: #FC6625; }
        nav ul li a {
          font-size: 15px; } }

@media (min-width: 992px) {
  header {
    background-color: #3F3434;
    grid-area: header;
    padding-left: 150px; }
    header .title {
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
      font-size: 22px; }
      header .title :hover {
        color: #FC6625; }
      header .title a {
        padding: 5px 0; }
  nav {
    grid-area: nav;
    background-color: #3F3434;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 150px; }
    nav ul {
      display: flex;
      flex-flow: row nowrap;
      padding: 0;
      margin: 0; }
      nav ul li {
        list-style-type: none;
        padding: 5px 10px; }
        nav ul li :hover {
          color: #FC6625; }
        nav ul li a {
          font-size: 15px; } }

@media (max-width: 991px) {
  main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px; } }

@media (min-width: 992px) {
  main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px; } }

@media (max-width: 991px) {
  footer {
    background-color: #3F3434;
    color: #fff;
    grid-area: footer;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    footer div {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 5px 0; }
    footer a {
      margin: 5px 0; }
      footer a .logo {
        height: 30px;
        width: 30px;
        border-radius: 30px; }
    footer ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0; }
      footer ul li {
        list-style-type: none;
        padding: 5px 10px; }
        footer ul li :hover {
          color: #FC6625; }
        footer ul li a {
          font-size: 15px; } }

@media (min-width: 992px) {
  footer {
    background-color: #3F3434;
    color: #fff;
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px; }
    footer div {
      width: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 5px 0; }
    footer a {
      margin: 5px 0; }
      footer a .logo {
        height: 30px;
        width: 30px;
        border-radius: 30px; }
    footer ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0; }
      footer ul li {
        list-style-type: none;
        padding: 5px 10px; }
        footer ul li :hover {
          color: #FC6625; }
        footer ul li a {
          font-size: 15px; } }

body {
  background: linear-gradient(180deg, #B1AEAE 0%, #878484 56.77%, #333232 100%); }

a {
  text-decoration: none;
  color: #fff; }

h2 {
  margin: 0;
  color: #fff;
  padding: 10px 0; }

h3 {
  font-size: 20px; }

h4 {
  color: #fff;
  font-size: 20px;
  margin: 0; }

h5 {
  font-size: 18px; }

h6 {
  color: #FC6625;
  font-size: 22px;
  margin: 0; }

p {
  margin-bottom: 0; }

.custom-start {
  display: flex;
  justify-content: center; }

.custom-end {
  display: flex;
  justify-content: center; }

.custom-evenly {
  display: flex;
  justify-content: space-evenly; }

@media (min-width: 992px) {
  .custom-start {
    display: flex;
    justify-content: start; }
  .custom-end {
    display: flex;
    justify-content: end; }
  .custom-evenly {
    display: flex;
    justify-content: end; } }
