.card-service{    
    .service-list{
        height: 100%;
        @include flex-column-evenly;
        align-items: flex-start;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li{
            padding: 15px;

            & :hover {
                transform: scale(1.2);
            }
        }
    }
}    
    